# ==============================================================================
# CONFIGURATION DE L'ENVIRONNEMENT
# ==============================================================================
# Ce fichier contient les secrets et paramètres de configuration.
# ⚠️ NE JAMAIS COMMITER CE FICHIER SUR GITHUB (ajoutez-le au .gitignore).
# Créez un fichier '.env.example' sans les valeurs pour partager la structure.

# --- 1. CONFIGURATION DISCORD ---
# Le token du bot (Reset le token sur le portail dev si compromis)
DISCORD_TOKEN=votre_token_discord_ici

#Durée avant suppresion rôle cotisation invalide 
DISCORD_DELAY_INVALID_COTISATION_DURATION=604800

#activation rappel avant désaction rôle
rappel_bot_desactivation=true
# ID du serveur (Clic droit sur le serveur -> Copier l'identifiant / Mode dev activé)
GUILD_ID=votre_id_serveur

# Rôles et Salons (Clic droit -> Copier l'identifiant)
# Le rôle à donner une fois l'étudiant vérifié
VERIFY_ROLE_ID=votre_id_role_verifie
# Le rôle qui a le droit d'utiliser les commandes /admin-...
ADMIN_ROLE_ID=123456789012345678
# Le salon textuel où le bot enverra les logs (audit trail)
LOG_CHANNEL_ID=votre_id_channel_logs

# Chemin local vers le logo (utilisé dans les Embeds)
LOGOURL=assets/logo.png


# --- 2. CONFIGURATION NOCODB (Base de données) ---
# L'URL de ton instance NocoDB (Docker ou Cloud)
NOCODB_BASE_URL=http://79.137.73.147:6060

# Token API (Paramètres NocoDB -> API Tokens)
NOCODB_TOKEN=votre_token_nocodb_ici

# IDs du projet et de la table (visibles dans l'URL quand tu es sur la table)
NOCODB_PROJECT_ID=p1ow5loblgb0lve
NOCODB_TABLE_ID=ml6losxybzyl6kl


# --- 3. MAPPING DES COLONNES (Schema) ---
# Ces noms doivent correspondre EXACTEMENT aux noms des colonnes dans NocoDB.
# Cela permet de modifier le nom des colonnes dans la BDD sans casser tout le code,
# il suffira de changer la valeur ici.
COL_EMAIL=mail
COL_DISCORD_ID=IdDiscord
COL_COTISATION=cotisationValide


# --- 4. SERVICE D'ENVOI D'EMAIL (SMTP) ---
# Exemple ici avec Brevo (ex-Sendinblue), mais fonctionne avec Gmail, Outlook, etc.
SMTP_HOST=smtp-relay.brevo.com

# 587 est le standard pour STARTTLS (sécurisé). 465 pour SSL implicite.
SMTP_PORT=587

# Identifiant SMTP (souvent l'email du compte)
SMTP_USER=94e79c001@smtp-brevo.com

# Mot de passe SMTP (Clé API ou App Password, PAS le mot de passe du compte web)
SMTP_PASS=votre_mot_de_passe_smtp_secret