# Discord
DISCORD_TOKEN=votre_token_discord_ici
GUILD_ID=votre_id_serveur
VERIFY_ROLE_ID=votre_id_role_verifie
LOG_CHANNEL_ID=votre_id_channel_logs
ADMIN_ROLE_ID=123456789012345678
LOGOURL=assets/logo.png
# NocoDB
NOCODB_BASE_URL=http://79.137.73.147:6060
NOCODB_TOKEN=votre_token_nocodb_ici
NOCODB_PROJECT_ID=p1ow5loblgb0lve
NOCODB_TABLE_ID=ml6losxybzyl6kl

# Colonnes NocoDB (Noms exacts dans votre table)
COL_EMAIL=mail
COL_DISCORD_ID=IdDiscord
COL_COTISATION=cotisationValide